.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  .form-class .add-schedule-input{
    width: 40%;
    margin-top: 20px;
  }
  
  .form-class .duration-slider {
    margin-top: 10px;
    width: 40%;
  } 
  .pickeri
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50rem;
    margin-top: 20px;
  }
  .form-container
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }