.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  .form-class .add-schedule-input{
    width: 80%;
    margin-top: 20px;
  }
  
  .form-class .duration-slider {
    margin-top: 10px;
    width: 80%;
  } 
  .pickeri
  {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
  }
  .form-container
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .select-admin
  {
    width: 80%;
  }
  .date-picker-pickup-schedule
  {
    margin-bottom: 10px;
  }