.equipment-browser {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
.equipment-browser h1 {
    text-align: center;
    margin: 1em;
}

  .form-group {
    margin-bottom: 1em;
  }
  
  .form-control {
    width: 100%;
    padding: 0.5em;
    margin: 1em 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .filters-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 30px;
  }

  .filters-button {
    padding: 0.5em 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    margin-left: 10px; /* Adds space to the left of each button */
  }
  
  .equipment-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .equipment-list {
    list-style-type: none;
    padding: 0;
  }
  
  .equipment-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;
  }